Django==6.0.4
djangorestframework==3.17.1
Pillow==11.0.0
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.9.1
httpx==0.28.1
cloudinary==1.41.0
opencv-python==4.11.0.86
numpy==2.2.6
pyzbar==0.1.9
pytesseract==0.3.13
rich==13.9.4
duckduckgo-search==8.1.1
beautifulsoup4==4.13.4
requests==2.32.3
